.mais_vistos {
  margin: 2rem 0;
}

.mais_vistos_container {
  width: min(100%, 1200px);
  margin: 2rem auto ;
  padding: 2rem 0;
}

.mais_vistos_lista {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}